{{>flash}}


{{#if user}}
    <script src="sockets.js"></script>
    <script src="comments.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox-plus-jquery.js"></script>

    <script src="client.js"></script>
    {{else}}
    <h1>Natureflow</h1>
<script src="client.js"></script>
{{/if}}

