<div id="usernameProfile">
  This is your profile,  {{user.username}}
</div>

{{#each images}}
    <div class="images">
    <div class="imageDiv">
        <img src='/images/{{ this.path }}' >
    </div>
    </div>
{{/each}}
