<div id="usernameProfile">
  This is your profile,  {{user.username}}
</div>

{{#each images}}
    <div class="images">
    <div class="imageDiv">
        <img src='/images/{{ this.path }}' >
    </div>
        <p id="commentLink">Add comment</p>
        <p id="comments">Comments: (0)</p>
    </div>
{{/each}}
