<p class="uploadText"> Write in a hashtag to search for images that match.</p>
<form action="/search" method="post">
    <input type="search" name="search" id="search">
    <input type="submit" name="searchButton" id="searchButton" value="Search">
</form>

