<p class="uploadText"> Write in a hashtag to search for images that match.</p>
<form action="/search" method="get">
    <input type="search" name="search" id="search">
    <input type="submit" name="searchButton" id="searchButton" value="Search">
</form>

{{#if images}}
    {{#each images}}

        <div class="imageDiv">
            <a href='/images/{{ this.path }}' data-lightbox="image1"> <img src='/images/{{ this.path }}'></a>
        </div>

        <button class="comments">Comments</button>
        </div>
{{/each}}
    {{else}}
    <p>hejhej</p>

    {{/if}}