<form action="/sign-up" method="post">
    <h3>Sign up here</h3>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="submit" value="sign up">

</form>