<form action="/sign-up" method="post">
    <h2 id="sign-up-title">Sign up</h2>
    <p>Are you not a member? Sign up here to share your nature photos.</p>
    <p><i>The username must be at least four charachters and the password must be at least six charachters.</i></p>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="submit" value="sign up">

</form>
<br>
<p class="start"><a href="/">Back to start</a></p>

