
<div id="uploadDiv">

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" id="uploadPicture" name="imgFile">
        <input type="submit" id="upload" value="Upload" name="upload" >
    </form>
</div>
<div id="imageDiv"></div>

<!--<script src="upload.js"></script>-->