

<p>Här ska man kunna ladda upp en bild</p>
<div>
    <form action="/update" method="post">
<input type="file" id="uploadPicture" name="upload">
    </form>
</div>
<div id="addPicture"></div>

<script src="upload.js"></script>