
<div id="uploadDiv">

    <form action="/upload" method="post">
        <input type="file" id="uploadPicture" name="add">
        <input type="submit" id="upload" value="Upload" name="upload" >
    </form>
</div>
<div id="imageDiv"></div>

<script src="upload.js"></script>