<header id="header">


    <form action="/login" method="post">
      Log in:   <input type="text" name="username" placeholder="username">
         <input type="password" name="password" placeholder="password">
         <input type="submit" name="submit" value="log in">
        Not a member? Sign up <a href="">here</a>.
    </form>


</header>