<header id="header">


    <form action="/" method="post">


        {{#if user}}
           You are logged in as: {{user.username}}

            <a href="/logged-out" id="loggOut">Log out</a>

        {{else}}
            Log in:   <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" name="submit" value="log in">
            Not a member? Sign up <a href="/sign-up">here</a>.
        {{/if}}



    </form>







</header>