<header id="header">


    <form action="/" method="post">


        {{#if user}}
           <div class="header_text">You are logged in as: {{user.username}}</div>

            <div class="loggOut"><a href="/logged-out">Log out</a></div>

        {{else}}
            Log in:   <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" name="submit" value="log in">
            Not a member? Sign up <a href="/sign-up">here</a>.
        {{/if}}



    </form>







</header>