<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
<header id="header">
    <p>test</p>
</header>
    <div id="wrapper">

        {{{body}}}
    </div>

    </body>
</html>