<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css" rel="stylesheet">
    </head>
    <body>

   {{>header}}

    <div id="wrapper">
      {{#if user}}
          <div id="menu">
            <ul>
                <li><a href="/images">Images</a> </li>
                <li><a href="/profile">My profile</a> </li>
                <li><a href="/upload">Upload</a> </li>
            </ul>
          </div>
      {{/if}}

        {{>flash}}

        {{{body}}}



    </div>
   {{>footer}}

    </body>
</html>