#wrapper {
    max-width: 60%;
    background-color: white;
    margin: auto;
    height: 100%;
    text-align: center;
    padding: inherit;



}

body{
    background-color: white;
}

#header {
    width: auto;
    height: 50px;
    background-color: rgba(211, 211, 230, 0.19);
    margin: auto;
    padding-top: 25px;
    padding-left: 5px;
    font-family: Helvetica;
    font-weight: 100;
}

header a {
    color: black;
}


#wrapper h1 {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
}

.imgSlide {
    width: 100%;

}



#imgDiv {
    width: 800px;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 75px;

}

#buttonDiv {
    width: 800px;
    height: 50px;
    background-color: white;
    margin-left: 75px;
}




#footer{
    width: auto;
    background-color: white;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
}

#footer p {
    font-family: Helvetica;
    font-weight: 100;
    text-align: center;
    font-size: 13px;

}

#logged_in_user{
    font-size: 20px;
    font-family: Helvetica;
    color: red;
}

#loggOut{
    color: black;
    margin-left: 1200px;

}

li {
    display: inline;
    margin-right: 100px;
}

li a {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 45px;

}

#sign-up-title {
    font-family: Helvetica;
    font-weight: 100;
}

#start {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 16px;
}

#start a {
    color: black;
    text-decoration: none;

}

#start a:hover {
    text-decoration: underline;

}

a {
    color: black;
    text-decoration: none;
}



p {
    font-family: Helvetica;
    font-weight: 100;
}

#imageDiv {
    width: 100%;
    overflow-x: auto;

}