body{
    background-color: white;
    min-height: 100%;
}

#wrapper {
    max-width: 70%;
    background-color:white;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

#wrapper h1 {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
}

#header {
    width: auto;
    background-color: rgba(226, 226, 226, 0.22);
    margin: auto;
    padding:25px 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Helvetica;
    font-weight: 100;
    overflow:auto;
}

header a {
    color: black;
}

.header_text {
    float:left;
    width:50%;
}

.user {
    font-weight: 400;
}

.loggOut{
    float:left;
    color: black;
    width:calc(50%);
    text-align:right;
}

#menu {
    margin-bottom: 30px;
}

.imgSlide {
    width: 100%;
}

#imgDiv {
    width: 800px;
    background-color: white;
    margin: 0 auto;
}

#imgDiv img {
    width: 100%;
}

#buttonDiv {
    width: 50%;
    height: 50px;
    background-color: white;  margin: 0 auto;
}

#footer{
   clear: both;
    position: relative;
    z-index: 10;
    height: 10px;
    margin-top: 5px;
    background-color: white;
    text-align: center;
}

#footer p {
    font-family: Helvetica;
    font-weight: 100;
    text-align: center;
    font-size: 13px;
}

#logged_in_user{
    font-size: 20px;
    font-family: Helvetica;
    color: red;
}

li {
    display: inline;
    margin: 2%;
}

li a {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 45px;
}

#sign-up-title {
    font-family: Helvetica;
    font-weight: 100;
}

#start {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 16px;
}

#start a {
    color: black;
    text-decoration: none;
}

#start a:hover {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

.imageDiv {
    width: 280px;
    overflow-x: hidden;
    margin: auto;
}

.imageDiv img {
    height: 250px;
}

#uploadDiv {
    padding: 10px;
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.images {
    width: 350px;
    background-color: rgba(226, 226, 226, 0.22);
    margin: auto 10px 15px;
    padding-top: 10px;
    display: inline-block;
    padding-bottom: 8px;
    box-shadow: 1px 1px 7px #909090;
}

#publishedBy {
    font-family: Helvetica;
    font-weight: 100;
}

.comments {
    background: none!important;
    border: none;
    padding: 16px;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14px;
    float: right;
}

.comments:focus {
    border: none!important;
    outline: none;
}

.fail {
    font-family: Helvetica;
    color: darkred;
}

#usernameProfile {
    font-family: Helvetica;
    height: 50px;
    font-weight: 100;
    font-size: 20px;
}

.deleteImage {
    background: none!important;
    border: none;
    padding-righ: 16px;
    margin-left: 50px;
    margin-right: 20px;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14px;
    float: right;
}
.deleteImage:focus {
    border: none!important;
    outline: none;
}

/*Modal comment*/
.model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(1, 1, 1, 0.74);
}

.modal-content {
    background-color: rgba(226, 226, 226, 0.90);
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    font-family: Helvetica;
    font-weight: 100;
}

.close {
    color: black;
    float: right;
    font-size: 20px;
}

.close:hover,
.close:focus {
    color: #909090;
    text-decoration: none;
    cursor: pointer;
}

.counterText {
    font-size: 12px;

}

/* end model add comment*/

/* start model read comments */
.modelComments {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(1, 1, 1, 0.74);
}

.modelComments-content {
    background-color: rgba(226, 226, 226, 0.90);
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    max-height: 400px;
    overflow-y: scroll ;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
}

.modelComments-content h2 {
    font-weight: 100;
}

.closeComments {
    color: black;
    float: right;
    font-size: 20px;
}

.closeComments:hover,
.closeComments:focus {
    color: #909090;
    text-decoration: none;
    cursor: pointer;
}

/* modell read comments end*/

.ownerComment {
    font-weight: 500;
    font-size: 16px;
}


.date {
    font-size: 11px;
}



.CommentsDiv h2 {
    text-align: center;
    font-weight: 300;
}

.addComment {
    background: none!important;
    border: none;
    padding: 16px;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14px;
    float: left;
}

.addComment:focus {
    border: none!important;
    outline: none;
}

.postComment {
    background: none!important;
    border: 1px solid #000;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14px;
}